{% extends 'base.html' %}



{% block title %}
{{ super() }}
Amigos {% endblock %}

{%block list%}
<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Mis reales</h1>
        <div class="col"></div>
        <div class="col mt-4">
            <ul class="list-group text-center">
                <li class="list-group-item active">Amigos </li>
                        {% for todo in todos %}
                <li class="list-group-item">
                    {{ todo }}
                </li>
                {%endfor%}
            </ul>
        </div>
        <div class="col"></div>
    </div>
</div>
{%endblock%}