<div class="d-flex flex-row mb-3 bg-dark">
  <nav>
    <img class="border border-dark border-3" src="{{ url_for('static', filename = 'img/carlitos.jpg') }}" width="50 px" alt="Linux imagen" />
    <a class="btn btn-dark" href="{{ url_for('index') }}">Ir a inicio</a>
    <a class="btn btn-dark" href="https://platzi.com" target="_blank">Ir a Platzi</a>
    <a class="btn btn-dark" href="https://google.com" target="_blank">Ir a google</a>
    <a class="btn btn-dark" href="{{ url_for('marisol') }}">Ver mi IP</a>
    <a class="btn btn-dark" href="{{ url_for('amigos') }}">Mis reales</a>


  </nav>
</div>
